<div class="container">
    <div class="header">
        <div class="title">
            <h1>Gerencie seus Produtos</h1>
            <p>Visualize, navegue, edite produtos ou adicione um novo produto</p>
        </div>
        <button class="btn" color="purple" (click)="irParaCadastro()">NOVO PRODUTO</button>
    </div>
    <div class="row">
        <mat-form-field class="width-fix" appearance="outline">
            <mat-label>Qual produto deseja gerenciar?</mat-label>
            <input matInput [formControl]="pesquisar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button class="no-shadow" mat-fab color="accent" [matMenuTriggerFor]="filtro" [disabled]="produtos.length == 0">
            <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #filtro="matMenu">
            <button mat-menu-item (click)="produtosMaivendidos()">Mais vendidos</button>
            <button mat-menu-item>Maiores descontos</button>
            <button mat-menu-item (click)="produtosMaisCaros()">Maiores preços</button>
            <button mat-menu-item (click)=" produtosMaisBaratos()">Menores preços</button>
        </mat-menu>
    </div>
    <div class="not-found" *ngIf="produtos.length == 0">
        <img src="../../../../assets/img/svg/undraw_empty_re_opql.svg" alt="Not Found" width="280px">
        <p>Nenhum resultado encontrado</p>
    </div>
    <table *ngIf="produtos.length > 0"> 
        <tr>
            <th>Produto</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Desconto</th>
            <th>Estoque</th>
            <th>Unidades Vendidas</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let produto of produtos">
            <td><img [src]="produto.imagens[0].url" [alt]="produto.imagens[0].nomeRandomico" loading="lazy"></td>
            <td>{{ produto.nome }}</td>
            <td>{{ (produto.preco - produto.taxaDesconto * produto.preco) | currency: 'BRL' }}</td>
            <td>{{ (produto.taxaDesconto * produto.preco) | currency: 'BRL' }} ({{ produto.taxaDesconto | percent }})</td>
            <td>{{ produto.estoque }} uni</td>
            <td>{{ produto.unidadesVendidas }} unidade(s)</td>
            <td>
                <button 
                    mat-icon-button 
                    color="primary" 
                    matTooltip="Edite esse produto">
                    <mat-icon>edit</mat-icon>
                </button>
                <button 
                    mat-icon-button 
                    color="primary" 
                    matTooltip="Salvar alterações">
                    <mat-icon>data_saver_on</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>