<div class="container" *ngIf="!carregamento">
    <div class="header">
        <div class="title">
            <h1>Gerencie seus Produtos</h1>
            <p>Visualize, navegue, edite produtos ou adicione um novo produto</p>
        </div>
        <button class="btn" color="purple" outline="true" (click)="irParaCadastro()">NOVO PRODUTO</button>
    </div>
    <div class="row">
        <mat-form-field class="width-fix" appearance="outline">
            <mat-label>Qual produto deseja gerenciar?</mat-label>
            <input matInput [formControl]="pesquisar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button class="no-shadow" mat-fab color="accent" [matMenuTriggerFor]="filtro" [disabled]="produtos.length == 0">
            <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #filtro="matMenu">
            <button mat-menu-item (click)="produtosMaivendidos()">Mais vendidos</button>
            <button mat-menu-item (click)="produtosMaiorDesconto()">Maiores descontos</button>
            <button mat-menu-item (click)="produtosMaisCaros()">Maiores preços</button>
            <button mat-menu-item (click)=" produtosMaisBaratos()">Menores preços</button>
        </mat-menu>
    </div>
    <div class="not-found" *ngIf="produtos.length == 0">
        <img src="../../../../assets/img/svg/undraw_empty_re_opql.svg" alt="Not Found" width="280px">
        <p>Nenhum resultado encontrado</p>
    </div>
    <table *ngIf="produtos.length > 0"> 
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço Parcelado</th>
            <th>Preço Avista</th>
            <th>Estoque</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let produto of produtos">
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.precificacao.precoParcelamento | currency: 'BRL' }} ({{ produto.precificacao.taxaDescontoParcelamento | percent }})</td>
            <td>{{ produto.precificacao.precoAvista | currency: 'BRL' }} ({{ produto.precificacao.taxaDescontoAvista | percent }})</td>
            <td>
                <div class="inventory">
                    {{ produto.estoque }} uni
                    <button 
                        (click)="abrirModalAtualizarEstoque(produto)"
                        mat-icon-button 
                        color="primary" 
                        matTooltip="Atualizar estoque">
                        <mat-icon>update</mat-icon>
                    </button>
                </div>
            </td>
            <td>
                <button 
                    (click)="irParaEditarProduto(produto.id)"
                    mat-icon-button 
                    color="primary" 
                    matTooltip="Edite esse produto">
                    <mat-icon>edit</mat-icon>
                </button>
                <button 
                    (click)="verProduto(produto.id)"
                    mat-icon-button 
                    color="primary" 
                    matTooltip="Vizualizar esse produto">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </tr>
    </table>
    <div class="footer-table">
        <p>Total de Registros.: {{ paginacao.totalElementos }}</p>
        <div class="paginate">
            <button class="spacing-fix" mat-raised-button [disabled]="paginacao.primeiraPagina">Anterior</button>
            <button mat-raised-button [disabled]="paginacao.ultimaPagina">Próxima</button>
        </div>
    </div>
</div>
<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>