<div class="card-upload">
    <div class="drag-and-drop" dragDrop (fileDropped)="onFileDropped($event)">
        <mat-icon class="icon-upload">upload_file</mat-icon>
        <p>Arraste e solte aqui ou <label for="input-upload" class="browser">navegue</label> pelo seu sistema</p>
        <input type="file" id="input-upload" (change)="carregarImagem($event)" accept="image/png, image/jpg, image/jpeg" hidden>
    </div>
    <div *ngIf="imagens.length == 0" class="alert" color="warning">Você ainda não adicionou fotos a este produto. Adicione até 10 imagens. Para satisfação de seus clientes procure utiizar imagens que tenham fundo transparente</div>
    <div *ngIf="contador > 0" class="alert" color="warning">
        {{ contador }} selecionado(s) 
        <button mat-icon-button color="accent" (click)="removerSelecionados()" matTooltip="Remover selecionados">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>   
    <div class="drag-drop" cdkDropList (cdkDropListDropped)="alterarImagemPrincipal($event)">
        <div class="item-uploaded" *ngFor="let img of imagens; let i = index" cdkDrag> 
            <div class="item-description">  
                <mat-checkbox (change)="selecionarImagem($event.checked, img)" [checked]="img.estaSelecionada"></mat-checkbox>        
                <div class="img-preview">
                    <img class="img-uploaded" [src]="img.url" [alt]="img.nomeOriginal" width="74px" loading="lazy">
                    <span class="resolution-img">{{ img.largura }} x {{ img.altura }} pixels</span> 
                    <p *ngIf="img.imagemPrincipal" class="main-img" >IMAGEM PRINCIPAL</p>
                </div>
                <div class="img-details">
                    <mat-spinner *ngIf="img.estaRemovida" [diameter]="20"></mat-spinner>
                    <h3 class="name-img">{{ img.nomeRandomico }}</h3>
                    <a class="url-img" [href]="img.url" target="_blank" matTooltip="Url da imagem">{{ img.url }}</a>
                    <p class="size-img" >{{ img.tamanho | filesize }}</p>
                </div>
            </div>
            <button class="btn-delete" mat-icon-button color="warn" (click)="removerImagem(img,i)" matTooltip="Remover esta imagem">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </div>
    <div *ngFor="let arquivo of arquivos" class="progress-bar">
        <circle-progress [percent]="progresso"></circle-progress>
    </div> 
</div>