<div class="images-preview">
    <div class="others-images">
        <button 
            mat-icon-button color="primary" 
            (click)="scrollUp(scrollImages)"
            *ngIf="imagens.length > 4"
        >
            <mat-icon>arrow_upward</mat-icon>
        </button>
        <div class="scroll-images" #scrollImages>
            <div class="images" *ngFor="let imagem of imagens" (click)="alternarImagem(imagem)"
                [ngClass]="{ 'selected-image': imagem.imagemPrincipal, 'unselected-image': !imagem.imagemPrincipal }">
                <img 
                    [src]="imagem.url" 
                    [alt]="imagem.nomeRandomico" 
                    width="100%" 
                    height="100%" 
                    loading="lazy"
                >
            </div>
        </div>
        <button 
            mat-icon-button color="primary" 
            (click)="scrollDown(scrollImages)"
            *ngIf="imagens.length > 4"
        >
            <mat-icon>arrow_downward</mat-icon>
        </button>
    </div>
    <img 
        class="main-image" 
        [src]="imagemVizualizada.url" 
        [alt]="imagemVizualizada.nomeRandomico" 
        width="100%"
        height="100%" 
        loading="lazy" 
        (click)="verImagem(imagemVizualizada.url)"
        matTooltip="Clique para ver a imagem em tamanho real"
    >
</div>