@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1 {
    font-family: 'Ubuntu', sans-serif;
    margin: 4px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}