<ngx-spinner size="medium" type="ball-clip-rotate-pulse"></ngx-spinner>
<section *ngIf="!carregamento">
    <main>
        <div class="card-cart">
            <div class="resume-order grid">
                <div class="row">
                    <h2>Resumo do Pedido</h2>
                </div>
                <div class="row">
                    <p class="label">Desconto Avista:</p>
                    <h3 class="discount">{{ carrinho.resumoPedido.descontoAvista | currency: 'BRL' }}</h3>
                </div>
                <div class="row">
                    <p class="label">Parcelamento:</p>
                    <h3 class="installment">
                       {{ carrinho.resumoPedido.parcelamento }}x {{ (carrinho.resumoPedido.subtotalParcelado / carrinho.resumoPedido.parcelamento ) | currency: 'BRL' }}
                    </h3>
                </div>
                <div class="row">
                    <p class="label">Pagamento Avista:</p>
                    <h2 class="subtotal">{{ carrinho.resumoPedido.subtotalAvista | currency: 'BRL' }}</h2>
                </div>
            </div>
            <div class="buttons-group-vertical">
                <button style="margin-bottom: -5px" class="btn" color="purple">FAZER PEDIDO</button>
                <button class="btn" color="indigo" outline="true" (click)="irParaCatalogo()">CONTINUAR COMPRANDO</button>
            </div>
        </div>
        <div class="card-cart" *ngFor="let item of carrinho.itens">  
            <mat-checkbox [checked]="item.selecionado" (change)="selecionarItem($event.checked, carrinho.id, item)"></mat-checkbox>         
            <img class="product-img" [src]="imagemPrincipal(item.produto.imagens)?.url" alt="Foto produto">
            <div class="product-request">
                <p class="product-name" (click)="verProduto(item.produto.id)">{{ item.produto.nome }}</p>
                <p class="product-price">
                    {{ item.quantidade }} uni x {{ item.produto.precificacao.precoAvista | currency: 'BRL' }} | <span class="in-stock" *ngIf="item.produto.estoque > 0">Em Estoque</span>
                </p>
                <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle (click)="removerQuantidadeItem(carrinho.id, item)" [disabled]="item.quantidade == 1">
                      <mat-icon>remove</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle>
                        {{ item.quantidade }} uni
                    </mat-button-toggle>
                    <mat-button-toggle [disabled]="item.quantidade == item.produto.estoque"  (click)="addQuantidadeItem(carrinho.id, item)">
                      <mat-icon>add</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="item-actions">
                <mat-spinner class="spinner" *ngIf="item.atualizando" [diameter]="20"></mat-spinner>
                <h3 class="product-subtotal">
                    {{ item.quantidade * item.produto.precificacao.precoAvista | currency: 'BRL' }}
                </h3>
                <button class="btn remove-item" color="light" (click)="removerItemCarrinho(carrinho.id, item)">REMOVER</button>
            </div>
        </div>
    </main>
</section>