@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('../src/assets/css/card.css');
@import url('../src/assets/css/buttons.css');
@import url('../src/assets/css/stars.css');
@import url('../src/assets/css/badge.css');
@import url('../src/assets/css/ripple.css');
@import url('../src/assets/css/alerts.css');
@import url('../src/assets/css/upload.css');
@import url('../src/assets/css/animations.css');
@import url('../src/assets/css/table.css');
@import url('../src/assets/css/list-property.css');

@import '~ngx-toastr/toastr';
@import "~ngx-spinner/animations/ball-clip-rotate-pulse.css";

@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';
@import '~swiper/modules/effect-coverflow/effect-coverflow.less';
@import '~swiper/modules/zoom/zoom.min.css';
@import '~swiper/modules/effect-creative/effect-creative.min.css';
@import '~swiper/modules/effect-fade/effect-fade.min.css';
@import '~swiper/modules/effect-flip/effect-flip.min.css';

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.width-fix {
    width: 100%;
}

.no-shadow {
    box-shadow: none !important;
}